ul{
	overflow: hidden;
	list-style-type: none;
}
li{
	margin: 15px;
}
li a{
	padding: 5px;
	display: block;
	color:#123456;
	margin: 50px;
}
ul{
	overflow: hidden;
	list-style-type: none;
	text-align: center;
}
li{
	float: left;
}
li a{
	padding: 15px;
	display: block;
	color:#333333;
	text-align: center;
}
li a:hover {background-color: red;}
#dd: hover {list}
p{
	margin: 3%;
	padding: 1px;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
