body
{
	background-color: lightgrey;
}
h1{
	text-align:center;
	color: blue;
	font-family: Times;
	font-size: 50px;
	margin:50px;
}
h2{
	text-align:center;
	color: blue;
	font-family: Times;
	font-size: 50px;
	margin:50px;
}
p{
	color:purple;
	font-size:25px;
	font-family: verdana;
}
#f{
	color:purple;
	font-size:25px;
	font-family: verdana;

}
